/* here you can put your own css to customize and override the theme */

.splash {background-color: #FFFFFF;background-size: contain;background-position: center;background-repeat: no-repeat;position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 99999;}