<div ng-controller="TicketController">
    <div class="row">
        <div class="col-md-12 animated fadeInDown">
            <div class="panel panel-theme rounded shadow">
                <div class="panel-heading">
                    <i class="fa fa-edit"></i> Yeni Soru Ekranı
                </div>
                <div class="panel-body row">
                    <form class="form-horizontal">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-md-4 control-label">Ana Başlık</label>
                            <div class="col-md-8">
                                <select class="form-control" 
                                        ng-model="secimler.liste_1" 
                                        ng-options="item.title for item in listeler.liste_1 track by item.id" 
                                        ng-change="getKategori(secimler.liste_1.id, 'liste_2');"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="secimler.liste_1.id != NULL">
                            <label for="inputEmail3" class="col-md-4 control-label">Alt Başlık</label>
                            <div class="col-md-8">
                                <select class="form-control"
                                        ng-model="secimler.liste_2" 
                                        ng-options="item.title for item in listeler.liste_2 track by item.id"
                                        ng-change="getKategori(secimler.liste_2.id, 'liste_3');"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="secimler.liste_2 != NULL">
                            <label for="inputEmail3" class="col-md-4 control-label">Kategori</label>
                            <div class="col-md-8">
                                <select class="form-control"  
                                        ng-model="secimler.liste_3" 
                                        ng-options="item.title for item in listeler.liste_3 track by item.id"></select>
                            </div>
                        </div>
                     </div> 
                     <div class="col-md-8">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-md-2 control-label">Soru Başlığı</label>
                            <div class="col-md-8">
                                <input type="text" ng-model="title" class="form-control" placeholder="Sorunuzun başlığını belirtiniz.." >
                            </div>
                        </div>
                 
                        <div class="form-group">
                            <label for="inputEmail3" 
                                class="col-md-2 control-label">Soru İçeriği</label>
                            <div class="col-md-8">
                                <textarea rows="8" 
                                          ng-model="content" 
                                          class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" 
                                          placeholder="Probleminizi detaylı şekilde buraya yazınız.."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <button ng-click="update();" class="btn btn-warning">
                                    <i class="fa fa-send"></i> Gönder
                                </button>
                            </div>
                        </div>   
                      </div>                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>